/* Apply Times New Roman to regular text */
body, .md-typeset {
    font-family: "Times New Roman", Times, serif;
  }
  
  /* Apply a nice monospaced font for code blocks */
  code, pre {
    font-family: "Fira Code", "Courier New", monospace;
  }

  .img-left {
    float: left;
    margin-right: 20px;
    width: 400px;
  }
  